---
import BackgroundGradient from '../components/BackgroundGradient.astro'
import GitHubIcon from '../components/GitHubIcon.astro'
import SocialIcon from '../components/SocialIcon.astro'
import XIcon from '../components/XIcon.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Eurovision Place'>
  <BackgroundGradient />
  <div class='flex w-full flex-col items-center justify-center'>
    <h1
      class='mb-10 px-4 text-center text-4xl font-semibold xl:mb-16 xl:text-6xl'
    >
      Welcome to eurovision.place
    </h1>
    <p class='mb-4 max-w-3xl px-8 text-center xl:mb-8 xl:text-lg'>
      Whether you want to know your favourite entry this Eurovision season, you
      want to sort the new releases in your ranking or you want to share your
      top 10 with your friends,
    </p>
    <span
      class='mb-4 max-w-3xl px-8 text-center text-lg font-semibold xl:mb-8 xl:text-xl'
    >
      You've come to the right place!
    </span>
    <p class='mb-10 max-w-3xl px-8 text-center xl:mb-16 xl:text-lg'>
      Sort the Eurovision Song Contest 2024 songs based on your preferences, in
      a 1v1 battle system, and discover your favourite to win!
    </p>
    <a
      href='/sorter'
      class='mb-10 inline-flex h-14 items-center justify-center rounded-full bg-slate-200 px-10 font-bold text-liberty shadow-md hover:bg-slate-200/80'
      >Start sorting now!</a
    >
    <div class='flex gap-8'>
      <SocialIcon href='https://x.com/EurovisionPlace'>
        <XIcon />
      </SocialIcon>
      <SocialIcon href='https://github.com/Athenyx04/eurosorter'>
        <GitHubIcon />
      </SocialIcon>
    </div>
  </div>
</Layout>
