---
import RankingComponent from '../components/Ranking.tsx'
import Layout from '../layouts/Layout.astro'
import { playlists } from '../lib/data.ts'

const songs = playlists[0].songs
---

<Layout title='Ranking | Eurovision Place'>
  <div class='flex w-full flex-col'>
    <div class='flex items-center px-4 py-2'>
      <h1 class='font-extrabold'>My Eurovision 2024</h1>
      <button
        class='ml-auto rounded bg-[#5365a6] px-4 py-2 font-bold text-white hover:bg-blue-500'
      >
        Share
      </button>
    </div>
    <RankingComponent client:load songList={songs} />
  </div>
</Layout>
