---
import Menu from './Menu.astro'
import PageIcon from './PageIcon.astro'
import Percentage from './Percentage'
---

<header class="fixed top-1/2 left-1/2 z-10 bg-slate-200 rounded-2xl select-none py-2 px-4 -translate-x-1/2 -translate-y-1/2 sm:top-[10%] hover:scale-105">
    <div class="flex gap-3 items-center" aria-label="Open menu">
      <div class="w-6 h-6">
        <PageIcon />
      </div>
      <Percentage client:visible />
      <Menu />
    </div>
  </div>
</header>