---
import Menu from './Menu.astro'
---

<header
  class='sticky left-0 top-0 z-20 flex w-full justify-between bg-slate-200 px-4 py-1 text-black sm:gap-8'
>
  <div class='flex items-center sm:hidden'>
    <Menu />
  </div>
  <div class='flex items-center'>
    <a href='/' class='flex h-14 w-28 items-center justify-center gap-2'>
      <img src='/textWG.svg' alt='Text' />
    </a>
  </div>
  <div class='hidden items-center font-bold text-slate-900 sm:flex'>
    <nav class='space-x-4'>
      <a href='/sorter'>Sorter</a>
      <a href='/about'>About</a>
    </nav>
  </div>
  <div class='flex items-center sm:ml-auto'>
    <svg height='30' width='30'>
      <circle
        cx='15'
        cy='15'
        r='14'
        fill='#111827'
        stroke='#5365a6'
        stroke-width='2'></circle>
    </svg>
  </div>
</header>
