---
import Menu from "./Menu.astro";
---

<header class="flex justify-between w-full bg-slate-200 text-black py-1 px-4 sticky top-0 left-0 z-20">
  <div class="sm:hidden flex items-center">
    <Menu />
  </div>
  <div class="flex items-center">
    <a href="/" class="w-28 h-14 flex gap-2 justify-center items-center" >
      <img src="/textWG.svg" alt="Text" />
    </a>
  </div>
  <div class="hidden sm:flex items-center text-slate-900 font-bold">
    <nav class="space-x-4">
      <a href="/">Sorter</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>
  </div>
  <div class="flex items-center">
    <svg height="30" width="30">
      <circle cx="15" cy="15" r="14" fill="#111827" stroke="#5365a6" stroke-width="2" />
    </svg>
  </div>
</header>