---
console.log('js')
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
  <div class="mx-auto text-center mb-8 lg:mb-16">
    <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
      EuroSorter
    </h2>
    <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
      Ordena las canciones del Festival de Eurovisión y sus preselecciones según tus preferencias.
    </p>
  </div>

  <nav class="flex flex-col items-center justify-between w-full text-center md:flex-row">
    <a href="/" class="text-white hover:text-gray-300">
      Inicio
    </a>
  </nav>
</header>