---
console.log('js')
---

<header class="flex p-4 mx-auto max-w-xl">
  <div class="mx-auto text-center">
    <h2 class="text-3xl tracking-tight font-extrabold text-white">
      EuroSorter
    </h2>
</header>